#########################################################
#  {{ project_name }} - {{ app_environment }}           #
#  Managed by Ansible                                   #
#  Unauthorized access is prohibited                    #
#########################################################
